@tailwind base;
@layer base {
    html {
        @apply text-gray-800;
        font-family: sans-serif;
    }
}

@tailwind components;
@layer components {}

@tailwind utilities;
@layer utilities {
    .basicFont {
        @apply text-[13px] leading-[16px] font-[450];
    }
    .profileRoundBtn {
        @apply w-[45px] h-[45px] text-[24px] mx-3 cursor-pointer text-darkGrayText bg-[#F3F3F5] rounded-full p-1 transition-all duration-500;
    }
    .darkProfileRBtn {
        @apply w-[45px] h-[45px] text-[24px] mx-3 cursor-pointer text-darkGrayText bg-[#242434] rounded-full p-1 transition-all duration-500;
    }
    .contactPropertyDiv {
        @apply cursor-pointer px-[10px] min-h-[30px] transition-all duration-500 rounded-md text-[15px];
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    /* -webkit-box-shadow: 0 0 0px 1000px #00000000 inset; */
    /* box-shadow: 0 0 0px 1000px #ff5e0000 inset; */
    /* border: 1px solid #253341; */
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
    border: none;
    color: white;
    transition: background-color 5000s ease-in-out 0s;
}